<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Text Adventure</h3>
  <div>
    <p>
    </p>
  </div>
  <form action="/" method="post">
    <input type="text" name="animal" placeholder="Insert topic here. Optional" required=False />
    <input type="submit" value="Generate text adventure." />
  </form>
  {% if result %}
  <div class="result"> {{ result }}  </div>


  {% endif %}
</body>
